@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
	<title> IVOR Hospital </title>

	<style type="text/css">
		* {
			margin: auto;
			padding: auto;
		}

		.logo {
			width: 100%;
			border-bottom: 2px solid #f0f0f0;
		}

		.logo {
			width: 1200px;
			background-color:;
			font-family: calibri;
			padding: 10px;
			text-align: left;
		}

		a {
			padding: 10px;
			text-decoration: none;
			color: gray;
		}

			a:hover {
				color: #428bca;
				border-bottom: 2px solid gray;
			}
	</style>

</head>
<body>

	<div style="width:100%; height:6%; background-color:#2FA5EB;">
	</div>

	<table align="center">
		<form name="patient" method="post">
		<tr align="center">
			<td width="600px" style="font-size:50px;font-family:forte;"> <font color="#428bca"> IVOR  </font><font color="#000"> Hospital</font> </td>
		</tr>


		<tr>
			<td align="left">
				<font size="4px">
					<br><br><a asp-area="" asp-controller="Nurse" asp-action="NonRegisterNurseInfo">1. Non Register Nurses.</a><br><br>
					<a asp-area="" asp-controller="Nurse" asp-action="SisterInfo">2. Sisters</a><br><br>
					
				</font>
			</td>
		</tr>
		<tr align="center">
			<td><br><br><a asp-area="" asp-controller="User" asp-action="Index">RETURN TO MAIN PAGE</a></td>
		</tr>

		</form>
	</table>

</body>
